.env
.venv
.credentials.json
*.sh
*egg
*.egg-info
*.egg-info/
.vscode
.pytest_cache
config.toml
keys.json
workdir/
tmp/
*.pyc
__pycache__/
.ipynb_checkpoints
backup/
build/
scratchpad.ipynb
venv/
tmp/
env/
.DS_Store
.env
dist/*
*_Store
.python-version